/*
reglas: Estan formadas por los selectores, declaraciones, propiedades y valores.
selectores: estan formados de como identificar un elemento html
declaraciones: Es lo que hacemos con los selectores
propiedades: Son cosas particulares que podemso hacer con los elementos
valores: Son esas cosas que esperan recibir las variables como propiedades para actuar de forma correcta
*/

/*
-Una regla es all el conjunto que esta abajo
-El selector es el header
-La declaracion es lo que esta dentro de las llaves{}
-La propiedad en este caso es el background
-El valor en este caso es pink
*/

/*
Tipos de selectores:
-De etiqueta: como los son el header - section -article - nav ...
-De hijo o descendente: se debe hacer desde la etiqueta padre e ir desclosando las etiquetas hijos hasta llegar a la que deseo editar
-De clase: Se hace con un punto (.) por ejemplo .link link seria la class que queremos editar
-De id: Se hace con #nombre-del-id
*/
/*

header {
    background: pink;
    color: red;
}

body header div nav ol li a {

}

.link {

}

#contacto {

}
*/

@font-face {
    font-family: 'icomoon';
    src:  url('../imagenes/fonts/icomoon/fonts/icomoon.eot?6i4w2b');
    src:  url('../imagenes/fonts/icomoon/fonts/icomoon.eot?6i4w2b#iefix') format('embedded-opentype'),
    url('../imagenes/fonts/icomoon/fonts/icomoon.ttf?6i4w2b') format('truetype'),
    url('../imagenes/fonts/icomoon/fonts/icomoon.woff?6i4w2b') format('woff'),
    url('../imagenes/fonts/icomoon/fonts/icomoon.svg?6i4w2b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}

body {
    font-family: 'Raleway';
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative';
    font-weight: normal;
    /*font-style: italic;*/
}

menu {
    height: inherit;
}

.menu ol {
    margin: 0px 0px;
    }

h1 {
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    /*text-transform: uppercase;
    text-decoration: dashed;*/
    margin:0px;
}

h1 strong {
    color: #c57743;
}

h2 {
    text-transform: uppercase;
    color: #8A3801;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.portfolio {
    background: #eef6f6;
    padding: 20px;
}

.project {
    /*border-top: solid 10px red;
    border-left: solid 10px orange;
    border-bottom: solid 10px lightcoral;
    border-right: solid 10px green;
    border-top-color: orange;
    border-top-width: 15px;
    border-top-style: solid;*/
    border: 2px solid #3D1800;
    border-radius: 20px ;
    /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding:20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details {
    width:50%;
    /*display:inline-block;*/
}

.project-title {
    font-size: 25px;
    margin-top:0;
    margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Cinzel Decorative';
}

.project-imageContainer {
    width: 50%;
    /*display: inline-block;*/
}

.project-imageContainer img {
    max-width: 100%;

}

.hero {
    height: 300px;
    /*background-image:url("https://i.imgur.com/Kfm5R0D.jpg");*/
    background-color: #18cdd6;
    /*background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
}

.hero-image {
    object-fit: cover;
}

.header {
    background-color: #18cdd6;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.header a {
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header ol {
    display: flex;
    height:inherit;
}

.header ol li {
    height: inherit;
}

ol, ul {
    margin: 0;
    padding:0;
    list-style: none;
}

figure {
    margin: 0;
}

.footer {
    background-color: #171616;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list-title {
    margin-left: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #eef6f6;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px ;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid sandybrown;
    padding: 5px 20px;
    text-decoration: none;
    color: sandybrown;
    border-radius: 5px;
}

.contact {
    background-color: #18cdd6;
    color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {
}

.social-link {
    margin: 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("../imagenes/redes-sociales/twitter.svg");
}


.social-link.facebook {
    background-image: url("../imagenes/redes-sociales/facebook.svg");
}


.social-link.github {
    background-image: url("../imagenes/redes-sociales/github.svg");
}


.social-link.instagram {
    background-image: url("../imagenes/redes-sociales/instagram.svg");
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-size: 15px 15px;
    background-image: url("../imagenes/redes-sociales/envelope.svg") ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    padding: 10px 0;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Raleway';
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    flex: 1;
}

.html-video {
    width: 100%;
    height: auto;
}

.flexible-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.youtube-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background-color: rgba(rojo (0 - 255), verde (0 - 255), azul (0 - 255), opacidad (0 - 1));*/
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 3;
    left: 5px;
    top: 5px;
    color: white;
}