@media screen and (max-width: 551px) {
    h1 {
        font-size: 1.5em;
    }

    .project-details {
        font-size: 14px;
    }

    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        display: block;
        text-align: center;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .form-email button {
        margin: 1em auto;
    }

    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }

    footer .container   {
        justify-content: center;
        border: 1px solid transparent;
    }
}