@media screen and (max-width: 757px) {
    .header {
        display: block;
        height: auto;
    }

    .header a {
        color: wheat;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    .header a:hover {
    }

    .logo {
        text-align: center;
    }

    .menu {
        background: rgba(43, 40, 40, 0.9);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }

    .menu.is-active {
        left: 0;
    }

    h1 {
        line-height: 38px;
    }

    .menu ol {
        display: initial;
    }

    .menu ul li {
        height: 50px;
    }

    .menu ol ul li a {
        justify-content: center;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-imageContainer img {
        max-height: 250px;
        height: 50%;
    }

    .project-details {
        width: auto;
    }

    .project-details {
        font-size: 15px;
    }

    .project-course,
    .project-date,
    .project-url {
        margin: .3em;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-course {
        font-size: 0.7em;
    }

    .project-date,
    .project-url {
        font-size: 1em;
    }

    .project-description {
        font-size: .9em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 95%;
        height: 250px;
    }

    .event-imageContainer {
        text-align: center;
    }

    .burger-button {
        z-index: 4;
        display: block;
    }
}