/*
reglas: Estan formadas por los selectores, declaraciones, propiedades y valores.
selectores: estan formados de como identificar un elemento html
declaraciones: Es lo que hacemos con los selectores
propiedades: Son cosas particulares que podemso hacer con los elementos
valores: Son esas cosas que esperan recibir las variables como propiedades para actuar de forma correcta
*/

/*
-Una regla es all el conjunto que esta abajo
-El selector es el header
-La declaracion es lo que esta dentro de las llaves{}
-La propiedad en este caso es el background
-El valor en este caso es pink
*/

/*
Tipos de selectores:
-De etiqueta: como los son el header - section -article - nav ...
-De hijo o descendente: se debe hacer desde la etiqueta padre e ir desclosando las etiquetas hijos hasta llegar a la que deseo editar
-De clase: Se hace con un punto (.) por ejemplo .link link seria la class que queremos editar
-De id: Se hace con #nombre-del-id
*/
/*

header {
    background: pink;
    color: red;
}

body header div nav ol li a {

}

.link {

}

#contacto {

}
*/
body {
    font-family: 'Raleway';
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative';
    font-weight: normal;
    /*font-style: italic;*/
}

menu {
    height: inherit;
}

.menu ol {
    margin: 0px 0px;
}

h1 {
    line-height: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
    /*text-transform: uppercase;
    text-decoration: dashed;*/
    margin:0px 50px 50px 20px;
}

h1 strong {
    color: #8A3801;
}

.portfolio {
    background: #eef6f6;
}

.project {
    /*border-top: solid 10px red;
    border-left: solid 10px orange;
    border-bottom: solid 10px lightcoral;
    border-right: solid 10px green;
    border-top-color: orange;
    border-top-width: 15px;
    border-top-style: solid;*/
    border: 2px solid #3D1800;
    border-radius: 20px ;
    /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
    margin: 10px;
    margin-bottom: 15px;
    padding:20px;
    background: white;
    display: flex;
}

.project-details {
    width:500px;
    /*display:inline-block;*/
}

.project-imageContainer {
    width: 500px;
    /*display: inline-block;*/
}

.hero {
    height: 300px;
    background-image:url("https://i.imgur.com/Kfm5R0D.jpg") ;
    background-color: #18CDD6;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.header {
    background-color: #18CDD6;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.header a {
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header ol {
    display: flex;
    height:inherit;
}

.header ol li {
    height: inherit;
}

ol, ul {
    margin: 0;
    padding:0;
    list-style: none;
}

figure {
    margin: 0;
}

